<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>The Library</title>
  </head>
  <body>
    <div class="container">
      <h1>Books</h1>
      <hr />
      <h2>Books</h2>
      <h3>Edit a book</h3>
      @if(Model != null)
      {
        <form action="/Librarian/Book/@Model["foundBook"].GetId()" method="post">
          <label>Change Book Name: </label>
          <input type="text" name="book-name" value="@Model["foundBook"].GetTitle()">
          <label>Change Due Date: </label>
          <input type="date" name="due-date">
          <button class="btn btn-success" type="submit" name="button">Submit</button>
        </form>
      }

      @if(Model != null)
      {
        <h3>@Model["foundBook"].GetTitle()</h3>
        <ul>
          @foreach(var authors in Model["foundAuthors"])
          {
            <li>@authors.GetAuthor()</li>
          }
        </ul>
      }
      <a href="/Librarian/Book/Delete/@Model["foundBook"].GetId()">Delete This Book</a>
    </div>
  </body>
</html>
