<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>The Library</title>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Library</h1>
      <hr />

      <h3><a href="/Librarian">Use as a Librarian</a></h3>
      <h3><a href="/Patron">Use as a Library Patron</a></h3>
    </div>

  </body>
</html>
